name: continuous-integration
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
            - 'min'
            - '1'
        os:
            - ubuntu-latest
            - macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Julia Setup
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
        with:
            cache-compiled: "true"
      - name: Build
        uses: julia-actions/julia-buildpkg@v1
      - name: Test
        uses: julia-actions/julia-runtest@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Coverage Process
        uses: julia-actions/julia-processcoverage@v1
        if:  ${{ startsWith(matrix.os, 'ubuntu') && (matrix.version == '1') }}
      - name: Coverage Upload
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        if:  ${{ startsWith(matrix.os, 'ubuntu') && (matrix.version == '1') }}
        with:
          files: lcov.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Setup Node for Percy
        if: ${{ matrix.version == '1' && matrix.os == 'ubuntu-latest' }}
        uses: actions/setup-node@v5
        with:
          node-version: '14'
      - name: Install Percy CI
        if: ${{ matrix.version == '1' && matrix.os == 'ubuntu-latest' }}
        run: npm install --save-dev @percy/cli
      - name: Percy Upload
        if: ${{ matrix.version == '1' && matrix.os == 'ubuntu-latest' }}
        run: |
          ls ./test/out/ # useful for debugging
          npx percy upload ./test/out
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
